<div id="container-instructions">

    <h1>Instructions - Protector Recap</h1>

    <hr/>

    <div class="instructions well">

        <div class="row container-fluid">
            
            <p>
                <font size=4>   
                To recap, here are the four different kinds of turns you will encounter in this game, in terms of the bombs  you will remove  for each correct response, (shown in grey) and the bombs you will add for each incorrect response:
                </font>
                <br/><br/>
                <center>
                     <img src='{{ server_location }} static/images/instructionImage/ProtectorFullRecap.png' height="500" width="600">
                </center>
                 
            </p>


        </div>
        <script type="text/javascript">
            $("body").unbind("keydown").focus().keydown(continue_handler);
        </script>

    </div>

<hr />

<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
