<script>
    $("body").unbind("keydown").focus().keydown(continue_handler);
</script>


<div id="container-instructions">

    <h1>Practice</h1>

    <hr/>

    <div class="instructions well">

        <div class="row container-fluid">
            <p>
                <font size=4> Lets Practice!
                <br><br>
                During this practice, gems and bombs will not affect your final bonus.
                <br><br>
                <b>Remeber:</b>
                <br><br>
                On the <b>LEFT</b> side of the bank, the symbol next to the <font style="color:green">GREEN CHECK MARK </font>will tell you how many <b>bombs</b> you can remove for each <font style="color:green">correct response</font>. 
                <br><br>
                On the <b>RIGHT</b> side of the bank, the symbol next to the <font style="color:red">RED X MARK </font>will tell you how many <b>bombs</b> will be added for each <font style="color:red">incorrect response</font>.
                </font>
            </p>
        </div>
</div>

<hr />

<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>