<div id="container-questionnaire">
    <h1>Surveys</h1>

    <hr />

    <p>Below is a list of feelings, sensations, problems, and experiences that people sometimes have. Please read each item and then choose the appropriate response that best describes how much you have felt or experienced things this way <i>during the past two weeks, including today</i>.</p><br>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">

            <!-- beginning of a question -->
            <div class="question">
                <div>
                    Felt really good about myself<br>
                </div>
                <div>
                    <select id="ADDI1" name="ADDI1">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 A little bit</option>
                        <option value="3">3 Moderately </option>
                        <option value="4">4 Quite a bit</option>
                        <option value="5">5 Extremely</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    Felt really ‘‘up’’ lively<br>
                </div>
                <div>
                    <select id="ADDI2" name="ADDI2">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 A little bit</option>
                        <option value="3">3 Moderately </option>
                        <option value="4">4 Quite a bit</option>
                        <option value="5">5 Extremely</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    Felt like I had a lot of energy<br>
                </div>
                <div>
                    <select id="ADDI3" name="ADDI3">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 A little bit</option>
                        <option value="3">3 Moderately </option>
                        <option value="4">4 Quite a bit</option>
                        <option value="5">5 Extremely</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    Felt like I had a lot of interesting things to do<br>
                </div>
                <div>
                    <select id="ADDI4" name="ADDI4">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 A little bit</option>
                        <option value="3">3 Moderately </option>
                        <option value="4">4 Quite a bit</option>
                        <option value="5">5 Extremely</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    Was proud of myself<br>
                </div>
                <div>
                    <select id="ADDI5" name="ADDI5">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 A little bit</option>
                        <option value="3">3 Moderately </option>
                        <option value="4">4 Quite a bit</option>
                        <option value="5">5 Extremely</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    Felt like I had accomplished a lot<br>
                </div>
                <div>
                    <select id="ADDI6" name="ADDI6">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 A little bit</option>
                        <option value="3">3 Moderately </option>
                        <option value="4">4 Quite a bit</option>
                        <option value="5">5 Extremely</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    Felt confident about myself<br>
                </div>
                <div>
                    <select id="ADDI7" name="ADDI7">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 A little bit</option>
                        <option value="3">3 Moderately </option>
                        <option value="4">4 Quite a bit</option>
                        <option value="5">5 Extremely</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    Felt like I had a lot to look forward to<br>
                </div>
                <div>
                    <select id="ADDI8" name="ADDI8">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 A little bit</option>
                        <option value="3">3 Moderately </option>
                        <option value="4">4 Quite a bit</option>
                        <option value="5">5 Extremely</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    Felt really happy<br>
                </div>
                <div>
                    <select id="ADDI9" name="ADDI9">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 A little bit</option>
                        <option value="3">3 Moderately </option>
                        <option value="4">4 Quite a bit</option>
                        <option value="5">5 Extremely</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br>
                </div>
            </div>
            <!-- end of a question -->

        </form>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
