<div id="container-questionnaire">
    <h1>Surveys</h1>

    <hr />

    <p>Please read each statement and choose a number 0, 1, 2 or 3 that indicates how much the statement applied to you <i>over the past week</i>. There are no right or wrong answers. Do not spend too much time on any statement.</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">

        	<p>
        		<i>The rating scale is as follows:</i> <br><br>
        		1 Completely UNTRUE <br>
				2 Mostly untrue <br>
				3 Neither true nor untrue <br>
				4 Quite true <br>
                5 Completely TRUE <br>
			</p><br>


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    I make decisions firmly and without hesitation.<br>
                </div>
                <div>
                    <select id="AMI5" name="AMI5">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    When I decide to do something, I am able to make an effort easily.<br>
                </div>
                <div>
                    <select id="AMI9" name="AMI9">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    I don't like to laze around.<br>
                </div>
                <div>
                    <select id="AMI10" name="AMI10">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    I get things done when they need to be done, without requiring reminders from others.<br>
                </div>
                <div>
                    <select id="AMI11" name="AMI11">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    When I decide to do something, I am motivated to see it through to the end.<br>
                </div>
                <div>
                    <select id="AMI12" name="AMI12">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    When I have something I need to do, I do it straightaway so it is out of the way.<br>
                </div>
                <div>
                    <select id="AMI15" name="AMI15">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->   

        </form>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
