<div id="container-questionnaire">
    <h1>Surveys</h1>

    <hr />

    <p>Please choose the answer that best describes how true each statement is about you in general.</p><br><br>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">

            <!-- beginning of a question -->
            <div class="question">
                <div>
                    I can always manage to solve difficult problems if I try hard enough.<br>
                </div>
                <div>
                    <select id="GSE1" name="GSE1">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 Hardly true</option>
                        <option value="3">3 Moderately true</option>
                        <option value="4">4 Exactly true</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    If someone opposes me, I can find the means and ways to get what I want.<br>
                </div>
                <div>
                    <select id="GSE2" name="GSE2">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 Hardly true</option>
                        <option value="3">3 Moderately true</option>
                        <option value="4">4 Exactly true</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    It is easy for me to stick to my aims and accomplish my goals.<br>
                </div>
                <div>
                    <select id="GSE3" name="GSE3">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 Hardly true</option>
                        <option value="3">3 Moderately true</option>
                        <option value="4">4 Exactly true</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    I am confident that I could deal efficiently with unexpected events.<br>
                </div>
                <div>
                    <select id="GSE4" name="GSE4">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 Hardly true</option>
                        <option value="3">3 Moderately true</option>
                        <option value="4">4 Exactly true</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    Thanks to my resourcefulness, I know how to handle unforeseen situations.<br>
                </div>
                <div>
                    <select id="GSE5" name="GSE5">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 Hardly true</option>
                        <option value="3">3 Moderately true</option>
                        <option value="4">4 Exactly true</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    I can solve most problems if I invest the necessary effort.<br>
                </div>
                <div>
                    <select id="GSE6" name="GSE6">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 Hardly true</option>
                        <option value="3">3 Moderately true</option>
                        <option value="4">4 Exactly true</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    I can remain calm when facing difficulties because I can rely on my coping abilities.<br>
                </div>
                <div>
                    <select id="GSE7" name="GSE7">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 Hardly true</option>
                        <option value="3">3 Moderately true</option>
                        <option value="4">4 Exactly true</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    When I am confronted with a problem, I can usually find several solutions.<br>
                </div>
                <div>
                    <select id="GSE8" name="GSE8">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 Hardly true</option>
                        <option value="3">3 Moderately true</option>
                        <option value="4">4 Exactly true</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    If I am in trouble, I can usually think of a solution.<br>
                </div>
                <div>
                    <select id="GSE9" name="GSE9">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 Hardly true</option>
                        <option value="3">3 Moderately true</option>
                        <option value="4">4 Exactly true</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br><hr style="height:1px; border:none; color:#696969; background-color:#696969;">
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="question">
                <div>
                    I can usually handle whatever comes my way.<br>
                </div>
                <div>
                    <select id="GSE10" name="GSE10">
                        <option disabled selected value> -- select an option -- </option>
                        <option value="1">1 Not at all true</option>
                        <option value="2">2 Hardly true</option>
                        <option value="3">3 Moderately true</option>
                        <option value="4">4 Exactly true</option>
                        <option value="NoAnswer">Prefer not to answer</option>
                    </select> <br><br>
                </div>
            </div>
            <!-- end of a question -->


        </form>
    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
