<div id="container-instructions">

    <h1>Round <span id='blockid'></span></h1>

    <hr/>

    <div class="instructions well">
        
    <div class="row container-fluid">
        
        <p> 
            In this round, you will always play as a <span id='role'></span> in <span id='fixed'></span> turns.
            <br/><br/>
            As a reminder, at the end of this round, the <span id='list'></span> on <span id='nSampled'></span> will be added to your gem bank. 
            <br/><br/>
            In this round, you will see one of these images before each turn. 
        </p>

        <table class='table table-bordered table-striped text-center'>
          <tr id='cues'>
            <!--<td style="padding:10px" id='cues'></td>-->
          </tr>
        </table>
<!--         <p>    
            The image on the LEFT (empty green bag) means this will be a <b><i>LOW VALUE</i></b> set. Each correct response will increase your potential reward by a <b>small amount (<span id='lowValue'></span>)</b>.
            <br><br>
            The image on the RIGHT (filled green bag) means this will be a <b><i>HIGH VALUE</i></b> set. Each correct response will increase your potential reward by a <b>large amount (<span id='highValue'></span>)</b>. 
            <br><br>
        </p> -->
    </div>
    <script type="text/javascript">
        $('#blockid').html(blockID.toFixed(0));
        if(selectPerBlock>1)
            $("#nSampled").html(selectPerBlock.toFixed(0) + ' randomly selected turns');
        else
            $("#nSampled").html(selectPerBlock.toFixed(0) + ' randomly selected turn');

        var roleCue = mainBlockType.substring(0,4);
        var valueCue = mainBlockType[4];
        var penaltyCue = mainBlockType[mainBlockType.length-1];

        if(roleCue=='Gain') 
        {
            var role = 'COLLECTOR';
            var items = 'gems and bombs';

        }
        else 
        {
            var role = 'PROTECTOR';
            var items = 'bombs';
          
        }


        if(valueCue == '_')
        {
            if(penaltyCue=='1') var fixed = 'low-penalty (1 bomb added)';
            else var fixed = 'high-penalty (10 bombs added)';
        }
        else
        {
            if(roleCue == 'Gain')
            {
                if(valueCue=='1') var fixed = 'low-value (1 gem added)';
                else var fixed = 'high-value (10 gems added)'; 
            }
            else
            {
                if(valueCue=='1') var fixed = 'low-value (1 bomb removed)';
                else var fixed = 'high-value (10 bombs removed)';                 
            }          
        }

        


        $("#role").html('<b>' + role + '</b>');
        $("#fixed").html('<b>' + fixed + '</b>');
        $('#list').html(items);
        //$("#penalty").html('<b>' + penalty + '</b>');
        //$("#cue").attr('src',cues[mainBlockType][0][0]);
        for(var i = 0;i<cues[mainBlockType].length;i++)
            $("#cues").append("<td style='padding:10px'><img height = 200px id='cue"+i.toFixed(0)+"' src='" + cues[mainBlockType][i][0] + "'/></td>");
        $("body").unbind("keydown").focus().keydown(continue_handler);
    </script>
<hr />

<div class="instructionsnav">
<div class="row">
        <div class="col-xs-2">
         </div>
         <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-primary btn-lg center-block continue">
                Press space to continue <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
         </div>
         <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
