<div id="container-instructions">

    <h1>Quiz - PROTECTOR</h1>

    <hr />

    <div class="instructions well">

        <p>Please answer the following questions based on the instructions that you read earlier about playing the PROTECTOR game. For each question, <b>imagine you complete 11 words, 10 correctly and 1 incorrectly</b>. As a reminder, each turn will start with <b>300 bombs</b>.

        <ol type="1">
            <hr/>

            <img src='{{ server_location }} static/images/cues/RLP/Loss1_Pun1.png' height="100">
            <li>If you saw this image, how many bombs would remain on this turn?
                <form>
                    <input type="radio" class="answer" name="q1answer" id="q3a1"> <span id='q3a1Text'></span><br />
                    <input type="radio" class="answer" name="q1answer" id="q3a2"> <span id='q3a2Text'></span><br />
                    <input type="radio" class="answer" name="q1answer" id="q3a3"> <span id='q3a3Text'></span><br />
                    <input type="radio" class="answer" name="q1answer" id="q3a4"> <span id='q3a4Text'></span><br />
                </form>
            </li>

            <hr/>

            <img src='{{ server_location }} static/images/cues/RLP/Loss1_Pun2.png' height="100">
            <li>If you saw this image, how many bombs would remain on this turn?
                <form>
                    <input type="radio" class="answer" name="q1answer" id="q4a1"> <span id='q4a1Text'></span><br />
                    <input type="radio" class="answer" name="q1answer" id="q4a2"> <span id='q4a2Text'></span><br />
                    <input type="radio" class="answer" name="q1answer" id="q4a3"> <span id='q4a3Text'></span><br />
                    <input type="radio" class="answer" name="q1answer" id="q4a4"> <span id='q4a4Text'></span><br />
                </form>
            </li>

            <hr/>

            <img src='{{ server_location }} static/images/cues/RLP/Loss2_Pun1.png' height="100">
            <li>If you saw this image, how many bombs would remain on this turn?
                <form>
                    <input type="radio" class="answer" name="q1answer" id="q1a1"> <span id='q1a1Text'></span><br />
                    <input type="radio" class="answer" name="q1answer" id="q1a2"> <span id='q1a2Text'></span><br />
                    <input type="radio" class="answer" name="q1answer" id="q1a3"> <span id='q1a3Text'></span><br />
                    <input type="radio" class="answer" name="q1answer" id="q1a4"> <span id='q1a4Text'></span><br />
                </form>
            </li>

            <hr/>

            <img src='{{ server_location }} static/images/cues/RLP/Loss2_Pun2.png' height="100">
            <li>If you saw this image, how many bombs would remain on this turn?
                <form>
                    <input type="radio" class="answer" name="q1answer" id="q2a1"> <span id='q2a1Text'></span><br />
                    <input type="radio" class="answer" name="q1answer" id="q2a2"> <span id='q2a2Text'></span><br />
                    <input type="radio" class="answer" name="q1answer" id="q2a3"> <span id='q2a3Text'></span><br />
                    <input type="radio" class="answer" name="q1answer" id="q2a4"> <span id='q2a4Text'></span><br />
                </form>
            </li>

        </ol>
        <script type="text/javascript">
            $('#q1a1Text,#q2a1Text,#q3a1Text,#q4a1Text').html((initialBomb - 10*highLoss + lowPun).toFixed(0));
            $('#q1a2Text,#q2a2Text,#q3a2Text,#q4a2Text').html((initialBomb - 10*highLoss + highPun).toFixed(0));
            $('#q1a3Text,#q2a3Text,#q3a3Text,#q4a3Text').html((initialBomb - 10*lowLoss + lowPun).toFixed(0));
            $('#q1a4Text,#q2a4Text,#q3a4Text,#q4a4Text').html((initialBomb - 10*lowLoss + highPun).toFixed(0));
            $("body").unbind("keydown").focus().keydown(continue_handler);

        </script>
    </div>

<hr />

<div class="instructionsnav">
        <div class="row" id="buttons">
            <button type="button" id="instructButton" class="btn btn-primary btn-lg" onclick="return instruct_onclick()">
                    Return to Instructions
            </button>
            <button type="button" id="submitButton" class="btn btn-primary btn-lg pull-right" onclick="return submit_onclick()">
                    Submit Answer
            </button>
        </div>
    </div>

</div>


<script>

    $("body").unbind("keydown").focus().keydown(continue_handler);


    function instruct_onclick() {

        returnToInstructCallback();

        // psiTurk.doInstructions(
        //     instructionLPages, // a list of pages you want to display in sequence
        //     function() { currentview = new FullPractice(); } // what you want to do when you are done with instructions
        // );

    }

    function submit_onclick() {

        var radios = document.getElementsByClassName("answer");
        var answers = 0;

        for (var i = 0, len = radios.length; i < len; i++) {
            if (radios[i].checked) {
                answers ++;
            }
        }

        if (answers == 4) {     // if number fo answers eqauls number of questions
            check_answers()
        } else {
            alert('You did not answer all the questions. Please go back and answer any questions you missed.');
        }
    }

    function check_answers() {
        // check that the right answers where chosen 
        if (!(document.getElementById('q1a1').checked & document.getElementById('q2a2').checked & document.getElementById('q3a3').checked & document.getElementById('q4a4').checked)) {
            incorrectP2 = incorrectP2 + 1;
            alert('You have made an error, please check your answers.');    
        } else {
            var src = document.getElementById("buttons");
            var submitButton = document.getElementById("submitButton");
            var instructButton = document.getElementById("instructButton");
            var nextButton = document.createElement("button");
            nextButton.textContent = 'Correct! Press to continue.';
            nextButton.setAttribute("id", "next");
            nextButton.setAttribute("value", "submit");
            nextButton.setAttribute("class", "btn btn-success btn-lg center-block continue");        
            src.appendChild(nextButton);
            src.removeChild(submitButton);
            src.removeChild(instructButton);
        };

    }

</script>
