<div id="container-instructions">

    <h1>Reminder</h1>

    <hr />

    <div class="instructions well">
        <div class="row">
                <img style='float: left; padding-left: 20px;' class='' src='{{ server_location }}/static/images/ColorMappingVisual.png' height="300">

                <p style='padding: 80px; padding-left: 440px;'>
                    As a reminder: 

                    <br />
                    Left middle finger to respond <strong>D</strong> for <strong id="color1"></strong><br />

                    Left index finger to respond <strong>F</strong> for <strong id="color2"></strong><br />

                    Right index finger to respond <strong>J</strong> for <strong id="color3"></strong><br />

                    Right middle finger to respond <strong>K</strong> for <strong id="color4"></strong><br />
                    <script type="text/javascript">
                        var responseColors = ["red", "yellow", "green", "blue"];
                        document.getElementById("color1").innerHTML = responseColors[0];
                        document.getElementById("color2").innerHTML = responseColors[1];
                        document.getElementById("color3").innerHTML = responseColors[2];
                        document.getElementById("color4").innerHTML = responseColors[3];
                    </script><br />
                </p>

        </div>

        <br />

        <p>
            Importantly, you should continue to respond only to the <b>ink color</b> of each word. You should <b>not</b> respond based on the content of the word.
        </p>
        <p class="text-center">
            <em>Please take a few moments, and when you are ready press the button to continue the experiment.</em>
        </p>

        <script type="text/javascript">
            $("body").unbind("keydown").focus().keydown(continue_handler);
        </script>
</div>

<hr />

<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Press space to begin experiment
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>
