<script>
    $("body").unbind("keydown").focus().keydown(continue_handler);
</script>


<div id="container-instructions">

    <h1>Collector Game</h1>

    <hr/>

    <div class="instructions well">

        <div class="row container-fluid">
            <p>
                <font size=4> 
                    Welcome to the Collector Game!
                    <br><br>
                    On every turn in this game, <b><font style="color:green">correct responses</font></b> will <b>add gems</b> to your bank and <b><font style="color:red">incorrect responses</font></b> will <b>add bombs</b> to your bank. At the end of your turn, any bombs added to your bank will destroy the equivalent number of gems in your bank.
                    <br><br>
                    The number of gems added for correct responses and number of bombs added for incorrect responses will depend on the round. 
                </font>
            </p>
        </div>
</div>

<script type="text/javascript">
    $("body").unbind("keydown").focus().keydown(continue_handler);
</script>

<hr />

<div class="instructionsnav">
    <div class="row">
        <div class="col-xs-2">
        </div>
        <div class="col-xs-8">
            <button type="button" id="next" value="next" class="btn btn-success btn-lg center-block continue">
                Continue
            </button>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
</div>

</div>